<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <h1>Registration</h1>
    <form name='Reg' action="registration" accept-charset="UTF-8"  method='POST'>
        <table>
            <tr>
                <td>Login:</td>
                <td><input type='text' name='userName' value=''></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type='text' name='firstName' value=''></td>
            </tr>
            <tr>
                <td>Lastname:</td>
                <td><input type='text' name='lastName' value=''></td>
            </tr>
            <tr>
                <td>RecordBookNumber:</td>
                <td><input type='text' name='recordBookNumber' value=''></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type='password' name='password' /></td>
            </tr>
            <tr>
                <td>Confirm Password:</td>
                <td><input type='password' name='passwordConfirm' /></td>
            </tr>
            <tr>
                <td><input name="submit" type="submit" value="submit" /></td>
            </tr>
        </table>
    </form>
    <a href="/">Войти</a>
    <p style="color: red">{{errorDescription}}</p>
</body>
</html>